.container {
  padding: 0 2rem;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  /* min-height: 100vh;
  padding: 4rem 0; */
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  /* flex: 1;
  padding: 2rem 0; */
  display: flex;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


.homeTop{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

.homeTop div{
  display: flex;
  flex-direction: row;
}

.sliders div div div ul li div h2{
 margin: 0px;
 position: absolute;
 top:150px;
 left: 10px;
 color: white;
 font-size: 30px;
 z-index: 1;
}
.sliders div div div ul li div h5{
 margin: 0px;
 position: absolute;
 top:210px;
 left: 10px;
 text-align: left;
 font-weight: 400;
 color: white;
 z-index: 1;
}
.sliders div div div ul li div div{
 margin: 0px;
 position: absolute;
 top:250px;
 left: 10px;
 text-align: left;
 font-weight: 400;
 color: white;
 z-index: 1;
 display: flex;
 flex-direction: row;
 align-items: center;
 gap:10px;
}
.sliders div div div ul li div div span{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
.sliders div div div ul li div div span p{
  flex: 5;
  margin: 0px;
  padding-right: 8px;
}

.sliders div div div ul li div div img{
 width: 5px;
 height: 20px;
 background-color: antiquewhite;
 flex: 1;
 }

.sliders div div div ul li div{
  position: relative;
 }
.sliders{
  flex: 5;
}

.homeBanner{
  display: flex;
  flex-direction: row;
  gap:10px;
  padding-top: 10px;
}
.rightSide{
  flex: 2;
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  
  padding: 1px;
}
.rightSide div{
 padding: 5px;
 position: relative;
}
.rightSide span{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
.rightSide div span img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}
.rightSide div span h5{
  padding: 0px;
  margin: 0px;
}
.rightSide div p{
  margin: 0px;
  font-size: 15px;
  padding: 10px 0px 10px 0px;
}




.rightSideButton {
  background-color: #0078d0;
  border: 0;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: 0;
  bottom: 8px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rightSideButton:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 40px;
  content: "";
  height: 10%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 20%;
}

.rightSideButton:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .rightSideButton {
    padding: 2px 10px;
  }
}




.worldNews{
  display: flex;
  flex-direction: column;
}
.worldNews div{
  display: flex;
  flex-direction: row;
  column-gap:15px;
}
.worldNews div div{
  display: flex;
  flex-direction: column;
  
}

.worldNews div div p{
  margin: 0;
  padding:5px 5px;
;  color:gray
}

.worldNews div div h1{
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  padding:0px
}
.wNews div div div{
  display: flex;
  flex-direction: row;
  gap:30px;
  margin:auto;
  width: 100%;
}
.wNews div p{
  font-size: 15px;
  padding-top: 8px;
  margin: 0px;
  padding-bottom: 15px;
}
.wNews div h1{
  font-size: 20px;
  height: 80px;
  padding-top: 15px;
  font-weight: 400;
  margin: 0px;
}
.imageBox {
  position: relative;
  /* margin: auto; */
  overflow: hidden;
  width: 300px;
  height: 260px;
}
.imageBox img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}
.imageBox p{
  position: absolute;
  bottom: 0;
  left: 15;
  color: #D9DADF;
  background-color: #222;
  padding: 15px;
}

.imageBox:hover p{
  background-color: #66f2d5;
  color: #222;
}

.imageBox:hover img {
  transform: scale(1.1);
}
.progressbar{
  
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}





.popularNews div:nth-child(2) div{
  /* width: 100%; */
  position: relative;
}
.popularNews div:nth-child(2) div img{
  /* width: 90%;
  height: 50%; */
}


.open_button{
  background-color: #FFFFFF;
 
  color: white;
  padding: 16px 20px;
  border: none;
  /* cursor: pointer; */
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  height: 200px;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 15px;
  /* background-color: rgb(40, 132, 163); */
 
}






.editor{
  position: relative;
}
.editor img{
  display: block;
  height: auto;
}
.editor div{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /* background-color: #008CBA; */
  background-color:#00ADB5;
  
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.9;
}
.editor:hover div{
  height: 100%;
  bottom: 0;
}

.editor div div{
  color: white;
  font-weight: 800;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.buttonSlide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.buttonSlide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.buttonSlide div {
  transition: transform 0.8s;
}

.buttonSlide:hover div {
  transform: translateX(-6px);
}

.buttonSlide::after {
  content: "";
  background-color: #66f2d5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.buttonSlide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  color: #111;
  cursor: pointer;
}
.close:hover {
  /* opacity: 1; */
  color: #111;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}




@media screen and (min-width: 320px) {  
  .homeTop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    
  }
  .homeTop div{
    display: flex;
    flex-direction: row;

  }
  
  .homeTop div > img{
    flex-direction: 1;
  }
  .homeTop div > p{
    flex:2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .homeBanner{
    display: flex;
    flex-direction: column;
  }
  .homeBanner div:nth-child(2) div{
    height: 150px;
  }
  .homeBanner div:nth-child(2) div button{
    padding: 10px;
  }
  .rightSide{
    display: grid;
    grid-template-columns: 1fr;
  }

  .wNews div div:nth-child(2) div div div div button{
    font-size: 14px;
  }
  .wNews div div:nth-child(2) div div div div h1{
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    height: 60px;
  }
  .wNews div div:nth-child(2) div div div div p{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    padding-top: 0px;
    height: 70px;
  }
  .imageBox p{
    max-height: 40px;
  }

  .popularNews{
    display: flex;
    flex-direction: column;
  }
  .popularNews div:nth-child(2){
  
  }
  .popularNews div div div h1{
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
  }
  .popularNews div div div p{
    margin: 0px;
  }
  .popularNews div div button{
    padding: 8px;
    margin: 8px 0px 8px 0px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
  }
  .popularNews div div button:hover{
    padding: 8px;
    margin: 8px 0px 8px 0px;
    border-radius: 5px;
    background-color: #66f2d5;
    
    cursor: pointer;
  }
  .popularNews div:nth-child(2) div div h1{
    font-size: 14px;
    font-weight: 400px;
  }
  .popularNews div:nth-child(2) div div p{
    font-size: 14px;
    
  }
  .popularNews div:nth-child(2) div{
    min-height: 130px;
  }
  .popularNews div:nth-child(2) div button{
    padding-left: 15px;
    padding-right: 15px;
  }
  .editorChoice{
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  .editorChoice h1{
    margin: 0px;
    font-size: 25px;
  }
  
  .editorChoiceMain {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
 
  .editorChoiceMain div h1{
    margin: 8px 0px 0px 0px;
    font-size: 20px;
  }
  .editorChoiceSub div h1{
    font-size: 15px;
  }
  .editorChoiceSub div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }


  /* .editorChoice div:nth-child(1){
    flex: 3;
  }
  .editorChoice div:nth-child(2){
    flex: 1;
  }
  .editorChoice div:nth-child(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .editorChoice div:nth-child(1) div{
    display: flex;
    flex-direction: column;
  }
  .editorChoice div:nth-child(1) div div div h1{
    
  } */
 
  /* .editorChoice div:nth-child(2) h1{
    margin: 0px;
    font-size: 15px;
  }
  .editorChoice div:nth-child(2)  div:nth-child(2) h1{
    font-size: 14px;
    font-weight: 300;
  } */
  .editorChoiceMain{

  }

  .editorChoiceSub{}
}
@media screen and (min-width: 480px) {  
}
@media screen and (min-width: 600px) {  
  .wNews div div:nth-child(2) div div div div button{
    font-size: 14px;
  }
  .wNews div div:nth-child(2) div div div div h1{
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    height: 50px;
  }
  .wNews div div:nth-child(2) div div div div p{
    font-size: 16px;
    padding-top: 0px;
    height: 60px;
    padding-bottom: 3px;
  }
  .imageBox p{
    max-height: 40px;
  }
}
@media screen and (min-width: 768px) {  
  .rightSide{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wNews div div:nth-child(2) div div div div button{
    font-size: 14px;
  }
  .wNews div div:nth-child(2) div div div div h1{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    height: 60px;
  }
  .wNews div div:nth-child(2) div div div div p{
    font-size: 16px;
    padding-top: 0px;
    height: 70px;
  } 
  .imageBox p{
    max-height: 40px;
  }
  .editorChoiceMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}
@media screen and (min-width: 900px) {  
}
@media screen and (min-width: 1024px) {   
  .homeTop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .homeTop div p{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .homeBanner{
    display: flex;
    flex-direction: row;
  }
  .homeBanner div:nth-child(1){
    flex:2;
    height: 100%;
  }
  
  .homeBanner div:nth-child(2){
    flex: 1;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }
  
  .homeBanner div:nth-child(2) div p{
    font-size: 13px;
    padding:5px 0px 0px 0px;
  }
  .homeBanner div:nth-child(2) div span > h5{
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-weight: 600;
  }
  .homeBanner div:nth-child(2) div button{
    padding:4px;
    width: 80px;
  }
  
  .rightSide div{
    max-height: 110px;
    display: flex;
    flex-direction: column;
  }

  .popularNews{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .popularNews div:nth-child(1){
    flex: 2;
  }
  .popularNews div:nth-child(2){
    flex:1;
  }
  .popularNews div:nth-child(2) div{
    min-height: 100px;
  }
  .popularNews div:nth-child(2) div div{
    min-height: 90px;
  }
  .popularNews div:nth-child(2) div div h1{
      font-size: 16px;
      padding-bottom: 5px;
  }
  .popularNews div:nth-child(2) div div p{
    font-size: 14px;
  }
  .editorChoice{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .editorChoice h1 {
    color: #00ADB5;
  }
  .editorChoiceSub div h1{
    font-size: 18px;
    color: #111;
  }
  .editorChoiceSub div:nth-child(2) > div{
    max-height: 90px;
  }
  .editorChoiceMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {  
  .editorChoice{
    display: flex;
    flex-direction: row;
    gap:10px;
  } 
  .editorChoiceMain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex:3
  }   
  .editorChoiceSub{
    flex: 1;
  }
  .editorChoiceSub h1{
    margin: 0px;
    font-size: 25px;
    color: #00ADB5;
  }
  .editorChoiceSub div h1 {
    font-size: 15px;
    color: #111;
  }
  .editorChoiceSub div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}



