.Tophead{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}

.date{
    display: flex;
    flex-direction: row;
    gap:15px;
}
.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px
}


.icon span{
    display: flex;
    flex-direction: row;
    gap:8px
}

.icon span img{
    width: 25px;
    height: 25px;
}

.scrolling{
    width: 81%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  /* scroll_left css coding*/
  .scroll_left{
    height: 50px; 
    overflow: hidden;
    position: relative;
    width: 74%;
  }
  .scroll_left p {
    position: absolute;
    width: 290%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 1s linear infinite;
    -webkit-animation: scroll-left 1s linear infinite;
    animation: scroll-left 20s linear infinite;
    }

.scroller {
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    overflow: hidden;
    width: 26%;
  }
  .scroller span {
    position: absolute;
    margin-left: 10px;
    top: 0;
    font-size: 21px;
    animation: slide 10s infinite;
    font-weight: bold;
    
  }

@keyframes slide {
    /* 0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
    100%{
      top: -4.8em;
    } */
    
    0% {
      top:0
    }
    10%{
      top: -1.2em
    }
    20%{
      top:-2.4em
    }
    30%{
      top:-3.6em
    }
    40%{
      top:-4.8em 
    }
    50%{
      top:-5.10em 
    }
    60%{
      top:-6.12em
    }
    70%{
      top:-7.14em 
    }
    80%{
      top:-8.16em 
    }
    90%{
      top:-9.18em 
    }
    100%{
      top:-10.20em
    }
  }



  /* Move it (define the animation) */
  @-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes scroll-left {
  0% { 
  -moz-transform: translateX(100%); /* Browser bug fix */
  -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%); 
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
  }


/* .myLinks{
    display: none;
}
.myLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.myLinks a.icon{
    background: black;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
}

.myLinks a:hover{
    background-color: #04AA6D;
    color: white;
} */

@media screen and (min-width: 320px) {
   .Tophead{
    height: 140px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
   }
   .Tophead div:nth-child(4){
    width: 90%;
    border-bottom: 1px solid gray;
    position: absolute;
    bottom: -15px;
   }
   
   .disappear{
    display: none;
   }
   .appear{
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    gap:15px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 35px;   
    left: 10px;
    top: 10px;
    width: 30%;
    padding-bottom: 15px;
    z-index: 1;
    /* background-color: blueviolet; */
    background-color: #00adb5;
   }
   .date{
    padding-top: 5px;
   }
   .date p{
    margin: 0px;
   }
   .Tophead div:nth-child(2) h1{
    font-size: 25px;
   }
   .Tophead div:nth-child(2) div:nth-child(1) img{
     position: absolute;
     right: 15px;
     top:20px;
   }
   .scrolling{
    height: 35px;
   }
   .scroll_left p span{
    font-size: 18px;
   }
   .icon{
    height: 35px;
   }
   .scroller span{
    font-size: 20px;
   }
    
}
@media screen and (min-width: 480px) {  
}
@media screen and (min-width: 600px) {  
}
@media screen and (min-width: 768px) {   
}
@media screen and (min-width: 900px) {
    .Tophead{
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100%;
        margin-top: 0px;
        align-items: center;
        padding-top: 15px; 
        position: relative;   
    }
    .Tophead div:nth-child(4){
        width: 90%;
        border-bottom: 1px solid gray;
       }
    .scrolling{
        max-height: 25px;
        width: 100%;
    }
    .date{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        margin-top: 0px;
        height: 100%;
    }
    .Tophead div:nth-child(2){
        height: 100%;
    }
    .icon{
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }
    .icon p{
        margin: 0px;
    }
    
    
}
@media screen and (min-width: 1024px) {
    .Tophead{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Tophead div:nth-child(4){
        display: none;
       }

    .Tophead div:nth-child(2) div:nth-child(1) img{
       display: none;
      }
    .appear{
        display: none;
    }
    .date{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
   .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
   }
    
}
@media screen and (min-width: 1200px) {      
}